@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter.woff2') format('woff2');
}

@layer base {
	body {
		@apply min-h-screen;
	}

  :root {
    --color-primary: 100 100 100;
    --color-secondary: 111 114 185;
  }

  .dark {
    --color-primary: 200 200 200;
    --color-secondary: 111 114 185;
  }
}
